extends extends/_layout

block content
	section.tic-tac

		.tic-tac__grid
			for _, i in Array(9)
				input.tic-tac__input.tic-tac__input--tic(type="radio")&attributes({id: `tic_${i}`, class: `tic-tac__input--${i}`, name: `cell_${i}`})
				input.tic-tac__input.tic-tac__input--tac(type="radio")&attributes({id: `tac_${i}`, class: `tic-tac__input--${i}`, name: `cell_${i}`})
			
			for _, i in Array(9)
				.tic-tac__cell
					label.tic-tac__label.tic-tac__label--tic&attributes({for: `tic_${i}`, class: `tic-tac__label--${i}`})
					label.tic-tac__label.tic-tac__label--tac&attributes({for: `tac_${i}`, class: `tic-tac__label--${i}`})
			.tic-tac__game-over Game over
			.tic-tac__game-over.tic-tac__game-over--draw Draw